In [2]:
#import and frame data
import pandas as pd
air_data = pd.read_csv('AirQuality_Daily_StudentVersion.csv')
air_data = pd.DataFrame(air_data)

#Task 1

In [19]:
#grouping measurements by location, and finding mean and median
concentration_summary = air_data.groupby(['sensor.name']).agg({
                    'voc': ['mean','median'],
                    'pm2.5_atm': ['mean','median'],
                    'pm10.0_atm': ['mean','median']})
#isolating VOC and printing
highest_voc_concentration = concentration_summary.sort_values(by = ('voc', 'mean'), ascending = False)
highest_voc_concentration = highest_voc_concentration[['voc']]
highest_voc_concentration.head(5)

                                              voc
                                             mean      median
sensor.name
Swnphd-ogallala                        399.434240  423.082292
FCHD-YPS                               372.462720  375.383500
Three Rivers Public Health Department  370.216208  376.810167
ELVPHD Norfolk HD 4                    360.833744  368.580500
Swnphd-mccook                          353.941581  381.468479

In [62]:
#isolating and printing top 5 pm2.5 locations
highest_pm25_concentration = concentration_summary.sort_values(by = ('pm2.5_atm', 'mean'), ascending = False)
highest_pm25_concentration = highest_pm25_concentration[['pm2.5_atm']]
highest_pm25_concentration.head(5)

                                                     pm2.5_atm
                                                          mean     median
sensor.name
Broken Bow                                          928.710593  36.050240
#16 - Richardson County Courthouse                  700.127342  11.977344
#18 - Southeast District Health Department- Tec...  613.175352  10.322875
NCDHD O'Neill #11                                   164.495078   7.251208
Swnphd-mccook                                       123.011622   4.582281

In [23]:
#isolating pm10.0 top 5 locations
highest_pm10_concentration = concentration_summary.sort_values(by = ('pm10.0_atm', 'mean'), ascending = False)
highest_pm10_concentration = highest_pm10_concentration[['pm10.0_atm']]
highest_pm10_concentration.head(5)

                                                    pm10.0_atm
                                                          mean     median
sensor.name
Broken Bow                                          929.678512  43.179094
#16 - Richardson County Courthouse                  701.632446  13.305615
#18 - Southeast District Health Department- Tec...  614.227248  11.433729
NCDHD O'Neill #11                                   166.132578   8.427437
Swnphd-mccook                                       124.227336   5.372073

#Task 2

In [54]:
stat_summary = air_data.groupby(['sensor.name','date']).agg({
    'pm2.5_atm':['max', 'min', 'mean', 'median'],
    'pm10.0_atm':['max', 'min', 'mean', 'median'],
    'voc':['max', 'min', 'mean', 'median']})
stat_summary = stat_summary.sort_values(by=('voc','max'),ascending = False)

#stat_summary.head(5)
pivot_stats2 = pd.pivot_table(
    stat_summary,
    index =["sensor.name",'date'],
    values = [("pm2.5_atm",'max'), ("pm10.0_atm",'max'),("voc",'max')])

pivot_stats2

                                              pm10.0_atm    pm2.5_atm  \
                                                     max          max
sensor.name                        date
#16 - Richardson County Courthouse 01/01/25  2114.860313  2114.623250
                                   01/02/25  2136.544792  2135.601729
                                   01/03/25  2359.675646  2357.012438
                                   01/04/25  2608.499542  2606.781167
                                   01/05/25  3029.037437  3027.666146
...                                                  ...          ...
WCDHD Thedford Library 29          08/30/24     5.438875     4.725187
                                   08/31/24     6.326583     5.569063
                                   09/01/24     5.088771     4.541688
                                   09/02/24     9.840417     8.928833
                                   09/03/24    10.809432     9.912568

                                                    voc
                                                    max
sensor.name                        date
#16 - Richardson County Courthouse 01/01/25         NaN
                                   01/02/25         NaN
                                   01/03/25         NaN
                                   01/04/25         NaN
                                   01/05/25         NaN
...                                                 ...
WCDHD Thedford Library 29          08/30/24  537.032750
                                   08/31/24  306.982792
                                   09/01/24  344.816750
                                   09/02/24  193.076250
                                   09/03/24  120.710818

[8301 rows x 3 columns]

In [47]:
pivot_stats2 = pd.pivot_table(
    stat_summary,
    index =["sensor.name"],
    values = [("pm2.5_atm",'max'), ("pm10.0_atm",'max'),("voc",'max')])
    #values = [("pm2.5_atm",'max'), "pm10.0_atm","voc"])
pivot_stats2.head

<bound method NDFrame.head of                                                     pm10.0_atm   pm2.5_atm  \
                                                           max         max
sensor.name
#16 - Richardson County Courthouse                  701.632446  700.127342
#17 - Otoe County                                    11.671141    9.755345
#18 - Southeast District Health Department- Tec...  614.227248  613.175352
Ainsworth Public School #9                           12.390708   10.697058
Broken Bow                                          929.678512  928.710593
Buffalo County TRPHD #26                              9.596038    8.479442
ELVPHD Norfolk HD 4                                  15.969341   13.369492
ELVPHD Tekamah HD 3                                  10.683828    9.482822
ELVPHD Wisner HD 5                                   14.462116   11.154420
FCHD-YPS                                             11.138241    9.167842
Laurel High School                                   10.254001    8.635639
Loup Basin Public Health Department                  10.454420    8.561095
Lower Niobrara NRD Butte 10                           9.365581    8.041274
NCDHD O'Neill #11                                   166.132578  164.495078
PHS Fairbury JCHL 13                                 11.132398    9.405360
SWNPHD-Imerial                                        7.281414    6.329091
South Heartland District Health Dept. Hastings ...    9.852555    8.915233
South Heartland District Health Dept. Superior ...    9.851113    8.851045
Swnphd-Benklemen                                      9.041440    7.501374
Swnphd-mccook                                       124.227336  123.011622
Swnphd-ogallala                                      11.347889   10.396579
TRPHD Dawson Co. Courthouse 25                       19.548148   18.080629
TRPHD Harlan Co. Courthouse 24                        8.944145    7.927510
Three Rivers Public Health Department                11.226492    9.601760
WCDHD Arthur High School 28                           7.712941    6.658474
WCDHD City Building                                   4.817597    3.971512
WCDHD Thedford Library 29                             7.509269    6.219710

                                                           voc
                                                           max
sensor.name
#16 - Richardson County Courthouse                   86.758650
#17 - Otoe County                                   251.427296
#18 - Southeast District Health Department- Tec...  196.150771
Ainsworth Public School #9                          219.200274
Broken Bow                                          158.285807
Buffalo County TRPHD #26                            328.835391
ELVPHD Norfolk HD 4                                 360.833744
ELVPHD Tekamah HD 3                                 221.091595
ELVPHD Wisner HD 5                                  102.291126
FCHD-YPS                                            372.462720
Laurel High School                                  130.631408
Loup Basin Public Health Department                 352.833902
Lower Niobrara NRD Butte 10                         227.439379
NCDHD O'Neill #11                                   283.633000
PHS Fairbury JCHL 13                                275.879657
SWNPHD-Imerial                                      285.456355
South Heartland District Health Dept. Hastings ...  305.385314
South Heartland District Health Dept. Superior ...  178.745074
Swnphd-Benklemen                                    336.400969
Swnphd-mccook                                       353.941581
Swnphd-ogallala                                     399.434240
TRPHD Dawson Co. Courthouse 25                      311.912841
TRPHD Harlan Co. Courthouse 24                      209.876608
Three Rivers Public Health Department               370.216208
WCDHD Arthur High School 28                         258.691175
WCDHD City Building                                 168.480056
WCDHD Thedford Library 29                           260.536134  >

#Task 3

In [15]:


#step 1: define a function that assigns temperature levels 
def assign_temperature(temperature): 
    if temperature < 32: 
        return "Below Freezing" 
    elif 32<= temperature <= 50: 
            return "Cool" 
    elif 51 <= temperature <= 70: 
        return "Warm" 
    else: 
        return "Hot"
        
def assign_humidity(humidity): 
    if humidity < 50: 
        return "Low" 
    elif 51<= humidity <= 80: 
        return "High" 
    else: 
        return "Very High" 
        
air_data["temperature_level"] = air_data["temperature"].apply(assign_temperature) 
air_data["humidity_level"] = air_data["humidity"].apply(assign_humidity) 
air_data.head(5)

 
    
#stat_summary
 
#Pivot table
pivot_stats3 = pd.pivot_table(
    air_data,
    index = ['temperature_level','humidity_level'],
    values = ['pm2.5_atm','pm10.0_atm'],
    aggfunc = ['mean','median','max','min']
)
pivot_stats3

                                        mean                 median  \
                                  pm10.0_atm   pm2.5_atm pm10.0_atm
temperature_level humidity_level
Below Freezing    High            194.278507  191.808298   9.918167
                  Low             282.112621  279.768902  11.252896
                  Very High       381.670705  376.994681  15.949823
Cool              High            196.466424  194.023152  17.733531
                  Low             137.859993  136.594457   6.536615
                  Very High        62.112498   60.650985   4.624000
Hot               High             25.866289   23.930522  12.632283
                  Low              24.353956   22.849731   8.203292
                  Very High       503.597997  500.961137  13.922500
Warm              High             67.079518   66.250797   6.909875
                  Low              87.422966   86.494960   4.021031
                  Very High        46.533563   45.457676   5.157458

                                                     max               \
                                  pm2.5_atm   pm10.0_atm    pm2.5_atm
temperature_level humidity_level
Below Freezing    High             7.902979  2672.387917  2671.969104
                  Low              9.117771  3206.779708  3205.868854
                  Very High        8.073813  2220.732583  2219.791417
Cool              High            15.427083  2218.841667  2218.641042
                  Low              5.436750  2261.752438  2261.110708
                  Very High        4.290375  2079.294479  2078.873729
Hot               High            11.704646  1693.192146  1692.997646
                  Low              7.213146  1805.437688  1805.313250
                  Very High       10.303500  3784.682542  3782.823313
Warm              High             6.426375  1704.250354  1704.064938
                  Low              3.079094  1872.723521  1872.126104
                  Very High        4.903729  1831.365500  1830.245063

                                        min
                                 pm10.0_atm pm2.5_atm
temperature_level humidity_level
Below Freezing    High             1.499104  1.103000
                  Low              0.561875  0.399854
                  Very High        4.173104  3.027875
Cool              High             0.023250  0.004188
                  Low              0.046021  0.013125
                  Very High        0.178854  0.063062
Hot               High             0.724938  0.669667
                  Low              0.012583  0.000000
                  Very High        0.473583  0.243729
Warm              High             0.178313  0.151917
                  Low              0.039667  0.002250
                  Very High        0.258396  0.154271

#Task 4

In [61]:
#sorting by pm2.5 and pm10.0 limits
unhealthy_pm25 = air_data[air_data['pm2.5_atm']>=35.4]
unhealthy_events = unhealthy_pm25[unhealthy_pm25['pm10.0_atm']>=154]

#only keeping relevant data
unhealthy_events = unhealthy_events[
    [ 'sensor.name','date', 'pm2.5_atm','pm10.0_atm'] 
].sort_values(by = 'pm2.5_atm',ascending = False)
unhealthy_events

                              sensor.name      date    pm2.5_atm   pm10.0_atm
7561   #16 - Richardson County Courthouse  02/18/25  3782.823313  3784.682542
7583   #16 - Richardson County Courthouse  02/19/25  3401.999333  3403.435958
7605   #16 - Richardson County Courthouse  02/20/25  3243.746646  3245.613354
6962   #16 - Richardson County Courthouse  01/21/25  3209.817146  3211.046813
7572                           Broken Bow  02/18/25  3205.868854  3206.779708
...                                   ...       ...          ...          ...
5996   #16 - Richardson County Courthouse  12/04/24   259.240479   261.677250
2144  Loup Basin Public Health Department  06/14/24   230.482438   231.757021
6076   #16 - Richardson County Courthouse  12/08/24   198.986375   200.798396
2443                     Swnphd-Benklemen  06/27/24   188.156771   188.977500
4285                      Swnphd-ogallala  09/11/24   153.471958   154.910438

[392 rows x 4 columns]

Task #5

In [59]:
altitude_summary = air_data.groupby(['sensor.altitude']).agg({
                    'voc': ['max','min','mean','median']},
                    {'pm2.5_atm':  ['max','min','mean','median'], 
                     'pm1.0_atm': ['max','min','mean','median']},)

correlation_data = air_data[["sensor.altitude","voc","pm1.0_atm","pm2.5_atm"]].corr()
 
print(correlation_data)

                 sensor.altitude       voc  pm1.0_atm  pm2.5_atm
sensor.altitude         1.000000  0.124631  -0.057530  -0.058228
voc                     0.124631  1.000000  -0.012968  -0.012408
pm1.0_atm              -0.057530 -0.012968   1.000000   0.999982
pm2.5_atm              -0.058228 -0.012408   0.999982   1.000000